.filterContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.allProductLink{
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.categoryContainer{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}
.categoryContainer p{
    text-decoration: underline;
}



.category{
    list-style: none;
    margin-left: 145px;
    margin-bottom: 7px;
    color: gray;
    font-weight: 600;
    cursor: pointer;
}
