.mainUpContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: #d7ab84;
}

.mainUpImgContainer{
    margin-top: 20px;
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}
.mainUpImgContainer img{
    height: 400px;
    
    
}

.mainUpTextContainer{
    text-align: justify;
    margin-top: 20px;
    padding: 10px 20px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;    
    width: 500px;
    height: auto;
    max-height: 450px;
    margin-bottom: 50px;


}

